body .about-page {
  width: 100%;
  margin: 150px 0px 150px 0px; }
  body .about-page .about-content {
    display: flex;
    margin: 0 auto;
    max-width: 1080px; }
    body .about-page .about-content div {
      flex-basis: 80%;
      margin: 0 auto; }
      body .about-page .about-content div h1 {
        margin: 10px 0px 10px 0px;
        text-align: center;
        color: #dc3545; }
      body .about-page .about-content div p {
        margin: 10px 0px 10px 0px;
        font-weight: 600; }
