body {
    .about-page {
        width: 100%;
        margin: 150px 0px 150px 0px;

        .about-content {
            display: flex;
            margin: 0 auto;
            max-width: 1080px;

            div {
                flex-basis: 80%;
                margin: 0 auto;

                h1 {
                    margin: 10px 0px 10px 0px;
                    text-align: center;
                    color: #dc3545;
                }

                p {
                    margin: 10px 0px 10px 0px;
                    font-weight: 600;
                }
            }
        }
    }
}
