<div class="container">
    <div class="row">
        <div class="col-2">
            <h1 id="container-title">
                NEW CARS <br> FRANCE
            </h1>
            <p id="container-paragraf">
                Contrary to popular belief, Lorem Ipsum
                is not <br> imply random text. It has roots in a piece of
            </p>
            <a href="#" class="btn">KNOW MORE &#8594;</a>
        </div>
        <div class="col-2">
            <img src="~/img/Cars/1.jpg" id="container-img">
        </div>
    </div>
</div>