<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    sites still in their infancy. Various versions have evolved over the years,
                    sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
                <partial name="_Rating-blok">
                <a href="#">
                    <img src="~/img/testimonial/2.jpg">
                    <h3>LOREM IPSUM</h3>
                </a>
            </div>

            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    sites still in their infancy. Various versions have evolved over the years,
                    sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
                <partial name="_Rating-blok">
                <a href="#">
                    <img src="~/img/testimonial/1.jpg">
                    <h3>LOREM IPSUM</h3>
                </a>
            </div>

            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    sites still in their infancy. Various versions have evolved over the years,
                    sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
                <partial name="_Rating-blok">
                <a href="#">
                    <img src="~/img/testimonial/3.jpg">
                    <h3>LOREM IPSUM</h3>
                </a>
            </div>
        </div>
    </div>
</div>