@{
    ViewData["Title"] = "Contact Page";
}
<div class="contacts">
    <div class="contacts-content">
        <ul class="contact-info">
            <li>
                <p>Company Info by Contact</p>
            </li>
            <li>
                <p>
                    <span>
                        Mail :
                    </span>
                    MyCar54@gmail.com
                </p>
            </li>
            <li>
                <p>
                    <span>
                        Tel :
                    </span>
                    +374 95 66 66 66
                </p>
            </li>
            <li>
                <p>
                    <span>
                        Addres:
                    </span>
                    safdf sfasfa afdafdsf 54/3
                </p>
            </li>
        </ul>

        <div class="google-cart">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d6096.114319339227!2d44.511239374129936!3d40.18554136398013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sopera!5e0!3m2!1sru!2s!4v1626854357323!5m2!1sru!2s"
                    allowfullscreen="" loading="lazy">
            </iframe>
        </div>
    </div>
</div>