@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="privacy-page">
    <div class="privacy-conatent">
        <div class="privacy-info">
            <h1>Company Privacy Mycar54</h1>
            <ul class="privacy-info">
                <li>
                    <p>
                        <span>
                            1.
                        </span>
                        Contrary to popular belief, Lorem Ipsum is not simply random
                    </p>
                </li>
                <li>
                    <p>
                        <span>
                            2.
                        </span>
                        Contrary to popular belief, Lorem Ipsum is not simply random
                    </p>
                </li>
                <li>
                    <p>
                        <span>
                            3.
                        </span>
                        Contrary to popular belief, Lorem Ipsum is not simply random
                    </p>
                </li>
                <li>
                    <p>
                        <span>
                            4.
                        </span>
                        Contrary to popular belief, Lorem Ipsum is not simply random
                    </p>
                </li>
                <li>
                    <p>
                        <span>
                            5.
                        </span>
                        Contrary to popular belief, Lorem Ipsum is not simply random
                    </p>
                </li>
                <li>
                    <p>
                        <span>
                            6.
                        </span>
                        Contrary to popular belief, Lorem Ipsum is not simply random
                    </p>
                </li>
                <li>
                    <p>
                        <span>
                            7.
                        </span>
                        Contrary to popular belief, Lorem Ipsum is not simply random
                    </p>
                </li>
                <li>
                    <p>
                        <span>
                            8.
                        </span>
                        Contrary to popular belief, Lorem Ipsum is not simply random
                    </p>
                </li>
                <li>
                    <p>
                        <span>
                            9.
                        </span>
                        Contrary to popular belief, Lorem Ipsum is not simply random
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>