<div class="dropdown">
    <button type="button" href="#" onclick="myFunction()" class="dropbtn header-btn drop-margin">
        <img src="~/img/Project Icons/Menu.png" alt="Alternate Text"  onclick="myFunction()" />
    </button>
    <div id="myDropdown" class="dropdown-content">
        <div class="drop-blockCat  my-fluid">
            <div class="my-container">
                <div>
                    <h6>Browse by body</h6>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/img/Cars Category Icon/1.png" alt="Alternate Text" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/img/Cars Category Icon/2.png" alt="Alternate Text" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/img/Cars Category Icon/3.png" alt="Alternate Text" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/img/Cars Category Icon/4.png" alt="Alternate Text" />
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/img/Cars Category Icon/5.png" alt="Alternate Text" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/img/Cars Category Icon/6.png" alt="Alternate Text" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/img/Cars Category Icon/7.png" alt="Alternate Text" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/img/Cars Category Icon/8.png" alt="Alternate Text" />
                            </a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h6>Browse by manufacturer</h6>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/img/Cars Category Icon/9.png" alt="Alternate Text" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/img/Cars Category Icon/10.png" alt="Alternate Text" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/img/Cars Category Icon/11.png" alt="Alternate Text" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/img/Cars Category Icon/12.png" alt="Alternate Text" />
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/img/Cars Category Icon/13.png" alt="Alternate Text" />
                            </a>
                        </li>
                        <li>
                            <a h    ref="#">
                                <img src="~/img/Cars Category Icon/14.png" alt="Alternate Text" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/img/Cars Category Icon/15.png" alt="Alternate Text" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/img/Cars Category Icon/16.png" alt="Alternate Text" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>