    <!--footer-->
<div class="footer">
    <div class="my-container">
        <div class="my-row">
            <div>
                <h2>Social websites</h2>
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/img/Social websites/Facebook.png" alt="Alternate Text" class="SocialWeb-img" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/img/Social websites/Instagram.png" alt="Alternate Text" class="SocialWeb-img" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/img/Social websites/Twitter.png" alt="Alternate Text" class="SocialWeb-img" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/img/Social websites/Youtube.png" alt="Alternate Text" class="SocialWeb-img" />
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h2>MY CARS 54</h2>
                <ul>
                    <li>
                        <a asp-action="Privacy" asp-controller="Home" class="text-white">
                            Privacy
                        </a>
                    </li>
                    <li>
                        <a asp-action="Contact" asp-controller="Home" class="text-white">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a asp-action="About" asp-controller="Home" class="text-white">
                            About
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="my-hr">
        <p>Copyright 2020 - Easy Tutorials</p>
    </div>
</div>