<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="expires" content="0">
<meta name="viewport" content="width=device-width,  user-scalable=no, initial-scale=1">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="content-style-type" content="text/css">
<meta name="copyright" content="TBAY.am 2021 ©. All rights reserved.">
<link rel="image_src" href="~/img/Logo Company/Logo.jpg">
<meta property="og:title" content="TBUY.am օնլայն հարթակ">
<meta property="og:description" content="TBUY.am օնլայն հարթակ">
<meta property="og:type" content="webSite">
<meta property="og:site_name" content="TBUY.AM">
<meta property="og:image" content="~/img/Logo Company/Logo.jpg">
<meta name="Description" content=" TBUY.am - համար 1 օնլայն հարթակը Հայաստանում, օնլայն խանութ, օնլայն հարթակ, Էլեկտրոնային առևտուր, Առցանց վաճառք, օնլայն ապառիկ, Արագ առաքում, Մատչելի գներ,online aparik, onlayn xanut erevanum online xanut online shop onlayn hartak onlayn vacharq tbayam">
<meta name="keywords" content=" TBUY.am օնլայն հարթակ Հայաստան Էլեկտրոնային առևտուր Առցանց վաճառք օնլայն խանութ օնլայն ապառիկ online aparik onlayn xanut erevanum online xanut online shop ՏԲԵՅ ամ ԹԻԲԵՅ ամ ՏԻԲԵՅ ամ ԹԻԲԱՅ ամ tbayam ՏԻԲԱԸ ԹԻԲԱԸ ամ tbuy.am tbay am tbayam Արագ առաքում Մատչելի գներ տբաը .ամ табы ам тбаы ам тибей ам onlayn hartak onlayn vacharq tbayam onlajn aparik onlayn aparik ">
<meta name="Robots" content="all">
<meta name="Document-state" content="Dynamic">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<meta name="Resource-type" content="Document">
<title>@ViewData["Title"] - CarShop</title>
<link rel="stylesheet" href="~/css/Style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">











