<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Head">
</head>
<body>
    @await Html.PartialAsync("_Header")

    @RenderBody()


    <partial name="_Footer">
    <partial name="_Script">
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
